build --copt=-I/usr/include/opencv4
build --experimental_repo_remote_exec
build --cxxopt=-fpermissive
build --cxxopt=-std=c++17

# cpu-only build configuration
build:cpu_only --define MEDIAPIPE_DISABLE_GPU=1
build:cpu_only --copt=-DMEDIAPIPE_DISABLE_GPU=1
build:cpu_only --copt=-DMEDIAPIPE_TFLITE_GL_INFERENCE=0
