bazel-*
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/provisioning_profile.mobileprovision
mediapipe.egg-info
node_modules/
.configure.bazelrc
.user.bazelrc
build/

.idea/
# PyCharm project files
*.iml
# PyCharm workspace files
*.iws
# PyCharm misc
.idea/**
# End PyCharm ignores
