# Bazel / project specific ignores
bazel-*
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/provisioning_profile.mobileprovision
mediapipe.egg-info
node_modules/
.configure.bazelrc
.user.bazelrc
build/
BUILD.backup

# Python ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.mypy_cache/
.pytest_cache/
.tox/
.nox/
.coverage
htmlcov/
.ipynb_checkpoints/
.DS_Store

# PyCharm ignores
.idea/
*.iml
*.iws
.idea/**
